body {
	background: teal;
	background: -webkit-linear-gradient(to left, teal, #8360c3);
	background: linear-gradient(to left, teal, #8360c3);
}
.main.container {
	margin-top: 0.75em;
}
/* Hack: Show Welcome Message using css. TODO: remove this after application.index/welcome route is implemented */
.master_outlet_container:not(:empty)::after {
	content: 'Welcome to Advisors!';
	font-size: 2em;
	text-align: center;
	color: #3a8484;
	margin-top: 3em;
	margin-bottom: 3em;
	display: block;
}

/* Utility Classes */
.silver.text {
	color: silver;
}
.teal.text {
	color: teal;
}

.uppercased {
	text-transform: uppercase;
}
.grow {
	transition: all 0.2s ease-in-out;
}
.grow:hover {
	transform: scale(1.1);
}

/* Advisor Component Styles */
.advisor {
	border: 3px solid transparent;
	padding: 10px;
}
.advisor:hover {
	background: rgba(0, 128, 128, 0.14);
	border-radius: 5px;
	border: 3px solid rgba(0, 128, 128, 0.67);
}
.left_advisor_info.column {
	text-align: left;
}
.ui.advisor_avatar.image {
	margin-right: 1em;
	border: 4px solid white;
	box-shadow: 0 0 2px rgba(2, 2, 2, 0.5);
	height: 100px !important;
	width: 100px !important;
	border-radius: 50%;
}
.advisor:hover .ui.advisor_avatar.image {
	height: 110px !important;
	width: 110px !important;
	box-shadow: 0 0 15px teal;
}
.advisor .advisor_name {
	font-weight: bold;
	font-size: 1.5em;
	color: teal;
}
.advisor .content .sub.header {
	max-width: 400px;
}
.price_per_minute {
	font-weight: bold;
	color: #444;
}
.call_now.button {
	text-transform: uppercase;
	margin-bottom: 0.5em;
}
.chat_now.button {
	text-transform: uppercase;
	margin-bottom: 0.5em;
}

@media only screen and (max-width: 320px),
	only screen and (max-width: 375px),
	only screen and (max-width: 425px) {
	.left_advisor_info.column {
		text-align: center;
	}
	.advisor_avatar.image {
		margin-right: 0;
		margin-bottom: 0.5em;
	}
	.advisor .advisor_name {
		display: block;
		font-weight: inherit;
		font-size: inherit;
	}
}
