<div class="ui text container">
    <img class="ui fluid image" alt="Advisors Logo" src="/assets/images/logo.png">
    <h2 class="ui grey header">About Us</h2>
    <p>You have come to the best place in the internet to find the best advisors online.</p>
    <p>We the leaders in personal advice and dedicated to empowering lives by helping people discover answers to their most pressing questions. We're proud of our community of users and the network of personal advisors who serve them by offering a diverse background of intuitive, spiritual services and so much more.</p>
    {{#link-to "advisors" class="ui large teal button"}}Find Advisors{{/link-to}}
</div>